.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    .line {
      width: 50%;
      height: 1px;
      color: red;
      background-color: black;
      margin-top: 40px;
    }
  
    .signin-btn {
      padding: 3px;
      border: 1px solid;
      border-radius: 15px;
      width: 350px;
    }
    .input-container {
      flex-direction: column;
      display: flex;
      align-items: self-start;
      .input {
        padding: 3px;
        border: 1px solid;
        border-radius: 15px;
        width: 350px;
      }
    }
  }
  